{% extends "main/base.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/css/create.css' %}">
{% endblock %}
{% block title %} Create New List {% endblock %}

{% block content %}
<h3>Create New Shopping List</h3>
<form method="post" action="/create/" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">   
            <button type="submit", name="save" class="btn btn-success">Create New</button>
        </div> 
        {{form.name}}
    </div>
</form>
{% endblock %}