.btn-success {
    background-color: #00BFA6;
}

.btn-success:hover {
    background-color: #ffffff;
    color: #00BFA6;
    border-color: #00BFA6;
}

@media only screen and (max-width: 375px) {
    h3 {
        font-size: 25px;
    }

    .form-group input[type="text"] {
        width: 130px;
    }
}